
.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
/* shyer style */
.display-flex{
    display: flex;
}
.container{
    max-width: 1440;
    margin: 0 auto;
    width: 80%;
}
.btn-primari{
    background-color: #FF900E;
    color: #FFFFFF;
    border: none;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
}
main > section{
    margin-top: 130px;
}
.section-titel{
    font-size: 2.8rem;
    font-weight: 700;
}
/* text orenge */

.text-primary{
    color: #FF900E;
}
/* dark 02 */
.text-gray{
    color: #424242;
}
/* dark 03 */
.text-light-gray{
    color: #727272;
}
.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
}
.fact-description{
    max-width: 535px;
}
.feature-discecription{
    padding: 24px 0 32px 0;
}
/* header style */
/* nav bar releted style */

header{
    background: rgba(255, 144, 14, 0.1);
}
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
.brand a{
    font-size: 3rem;
    font-weight: 700px;
    color: #131313;
}
.nav-item{
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
}
/* banner */
.banner-content{
    margin: 0 auto;
    max-width: 850px;
    text-align: center;
    /* height: 225px; */
    margin-bottom: 50px;
    
}
.banner-titel{
    font-weight: 700;
    font-size: 4rem;
}
.banner-descripttion{
    font-size: 16px;
    padding: 30px;
}
.banner-img{
    width: 100%;
    padding: 10px;
}

/* teams and feature */
.teams{
    align-items: center;
    max-width: 100%;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 73px;
    max-width: 530px;
}

#quick-list{
    font-weight: 500;
}
/* some fact related style */

.facts-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.section-titel{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}
.section-p{
    margin-bottom: 100px;
    font-weight: 400;
}

/* sponsors section */
.sponsr-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsors-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 auto;
    
}
.sponsors-companies img{
    filter: grayscale(100%);
    padding: 0 24px;
    /* width: 165px; */
}

/* resonsive media query */
@media screen and (max-width:576px) {
    .navbar, 
    .nav-links , 
    .teams 
     {
        flex-direction: column;
    }
    .our-features{
        margin-left: 20px;
        text-align: center;
    }
    .fact-description{
    margin: 0 auto;
    }
    .team-img-container,
    .facts-container ,
    .sponsors-companies{
    
    grid-template-columns: repeat(1, 1fr);
    
    }
    
    .facts-container{
        justify-items: center;
        gap: 24px;
    }
    .sponsors-companies{
        justify-items: center;
        gap: 50px; 
    }

}

/* medium size device */
@media screen and (min-width:576px) and (max-width:992px) {
    
    .teams 
    {
        flex-direction: column;
    }
    .fact-description{
    margin: 0 auto;
    }
    .our-features{
        margin: 50px auto;
        text-align: center;
    }
    .facts-container {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .sponsors-companies{
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        align-items: center;
        /* place-items: center; */
    }
    /* .our-sponsors{
        display: grid;
        justify-items: center;
        align-items: center;
    } */
}